{
  "presets": ["@babel/preset-env"],
  "plugins": [
    "@babel/plugin-transform-arrow-functions",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "services": "./src/services",
          "routes": "./src/routes",
          "lib": "./src/lib",
          "utils": "./src//utils"
        },
        "cwd": "babelrc"
      }
    ]
  ]
}
