{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "services": "./src/services"
        },
        "cwd": "babelrc"
    }]
  ]
}